
/* * é pra selecionar todos os elementos*/
/* colocar a pagina no 100%, com o height: x */
/*Flexbox, coloca os elementos em um conteiner */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&family=Roboto+Mono:wght@200&display=swap');


*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    box-sizing: border-box;
    background-color: black;
    color: #f6f6f6;
}

.destaque{
    color: #cb6ce6;
}

.conteudo{
    margin: 10% 20%;
    display: flex ;
    align-items: center;
    justify-content: space-between;
}

.conteudo-texto{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    
}
.conteudo-texto-titulo{
    font-size: 34px;
    font-family: 'Roboto Mono', monospace;
}

.conteudo-texto-descricao{
    font-size: 22px;
    font-family: 'Quicksand', sans-serif;

}
.apresentacao-links{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}
.apresentacao-links-subt{
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
}

.apresentacao-links-endereço{
    width: 378px;
    display: flex;
    justify-content: center;
    gap: 16px;
    text-align: center;
    border-radius: 16px;
    font-size: 30px;
    padding: 21.5px 0;
    text-decoration: none;
    color: #cb6ce6;
    font-family:'Roboto Mono', monospace ;
    font-weight: 600;
    border: 2px solid #cb6ce6;
}

.apresentacao-links-endereço:hover{    
background-color: #272727;
/* Hover, quando passa o mouse em cima, muda a cor */
}


.apresentacao-links-endereço-img{
    width: 55px;
}

.imagem{
    width: 400px;
}

.rodape{
    
}

/* crtl + K + C comentarios */