
/* * é pra selecionar todos os elementos*/
/* colocar a pagina no 100%, com o height: x */
/*Flexbox, coloca os elementos em um conteiner */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&family=Roboto+Mono:wght@200&display=swap');


*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    background-color: black;
    color: #f6f6f6;
}

.destaque{
    color: #cb6ce6;
}

.cabecalho{
    padding: 2% 0% 0% 15%;

}

.cabecalho-menu{
    display: flex;
   gap: 80px;

}
.cabecalho-menu-links{

    font-family:'Roboto Mono', monospace;
    font-size: 24px;
    font-weight: 600;
    color: #cb6ce6;
    text-decoration: none;

}    
.cabecalho-menu-links:hover{
    color: plum;
}


.conteudo{
    padding: 5% 15%;
    display: flex ;
    align-items: center;
    justify-content: space-between;
}

.conteudo-texto{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    
}
.conteudo-texto-titulo{
    font-size: 34px;
    font-family: 'Roboto Mono', monospace;
}

.conteudo-texto-descricao{
    font-size: 22px;
    font-family: 'Quicksand', sans-serif;

}
.apresentacao-links{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}
.apresentacao-links-subt{
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
}

.apresentacao-links-endereço{
    width: 378px;
    display: flex;
    justify-content: center;
    gap: 16px;
    text-align: center;
    border-radius: 16px;
    font-size: 24px;
    padding: 21.5px 0;
    text-decoration: none;
    color: white;
    font-family:'Roboto Mono', monospace ;
    font-weight: 600;
    border: 2px solid #cb6ce6;
}

.apresentacao-links-endereço:hover{    
    background-color: #272727;
    /* Hover, quando passa o mouse em cima, muda a cor */
}


.apresentacao-links-endereço-img{
    width: 40px;
}

.imagem{
    width: 400px;
}

.rodape{
    color: white;
    background-color: black;
    text-align: center;
    font-family:'Roboto Mono', monospace ;
    font-size: 20px;
    padding: 25px;
    font-weight: 400px;
    

}
.rodape:hover{
    background-color: black;
    color: #cb6ce6;
}

.conteudo-texto-titulo2{
    font-size: 34px;
    font-family: 'Roboto Mono', monospace;
    color: #cb6ce6;
}

.foto-animada{
    width: 450px;
}
/* crtl + K + C comentarios */